doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Recipe Swap
      nav
        a(href="/") Home
    main
      block content
    footer
      p © Recipe Swap
